{% extends "wechat.html" %}
{% block wxlogin %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#setuserphone">
                                Administrator Phone Settings
                            </a>
                        </h4>
                    </div>
                    <div id="setuserphone" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table table-hover">
                                <caption><button type="button" class="btn btn-default" onclick="wxadminphoneset()">提交</button></caption>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Phone:</span>
                                            <input id="adminphone1" type="text" class="form-control" value="13518204382">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">Phone:</span>
                                            <input id="adminphone2" type="text" class="form-control" value="13541106254">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo">
                                    高级 设置
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice lomo.
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>




{% endblock %}