{% extends "base.html" %}

{% set navigation_bar = [
    ('/wechat', 'wechat_login', '登录微信'),
    ('/wechat/wxfriends', 'wechat_wxfriends', '好友列表'),
    ('/wechat/setting', 'wechat_setting', '微信设置'),
    ('/wechat/wxlogout', 'wechat_wxlogout', '退出微信')
] -%}
{% block script %}
    <script >
        function wxsendmsg(toid,totext) {
            $.post('/wechat/sendmsg', {
                id:toid,
                text:$(totext).val()
            }).done(function(wxsendmsg) {
                alert(wxsendmsg['text']);
            })
        }
        function wxsettging(toid,nameid,rightid) {
            if($(rightid).val() > 5) {
                alert("权限范围1-4，请重新输入");
                return;
            }
            $.post('/wechat/setting', {
                type:"usersetting",
                id:toid,
                remarkname:$(nameid).val(),
                right:$(rightid).val()
            }).done(function(wxsettging) {
                alert(wxsettging['text']);
                window.location.reload();
            })
        }

        function wxadminphoneset() {
            $.post('/wechat/setting',{
                type:'adminphoneset',
                phone1:$('#adminphone1').val(),
                phone2:$('#adminphone2').val(),
{#                OnSend:$('#OnSendalarmMsg').bootstrapSwitch('state')#}
            }).done(function (wxadminphoneset) {
                alert(wxadminphoneset['text'])
            })
        }

        function timestamp(url){
            //  var getTimestamp=Math.random();
            var getTimestamp=new Date().getTime();
            if(url.indexOf("?")>-1){
                url=url+"×tamp="+getTimestamp
            }else{
                url=url+"?timestamp="+getTimestamp
            }
            location.href=url;
            return url;
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <ul class="nav nav-pills nav-stacked">
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}>
                            {% if id=="wechat_login"  %}
                                <a href="javascript:timestamp('{{ url_for('wechat_login')}}')">登录微信</a>
                            {% else %}
                                <a href="{{ href|e }}">{{ caption|e }}</a></li>
                            {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-10 column">
                {% block wxlogin %}
                    仪表盘，开发中
                {% endblock %}
            </div>
                {#
                {% if is_wxchat %}
                <div class="col-md-4 column">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                Message
                            </th>
                            <th>
                                Sender
                            </th>
                            <th>
                                Timestamp
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if posts %}
                            {% for post in posts%}
                                <tr class="success">
                                    <td>
                                        {{post.body}}
                                    </td>
                                    <td>
                                        {% if post.wxuser_id.remarkname!='' %}
                                            {{ post.wxuser_id.remarkname }}
                                        {% else %}
                                            {{ post.wxuser_id.nickname }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{momentjs(post.timestamp).fromNow()}}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                #}
        </div>
    </div>
{% endblock %}

